// Cors

$primary: #4545a1;
$danger: #9b2d27;
$white: #fff;

// Button

$button-border-style: solid;
$button-gap-content: 0.25rem;
$button-latter-spacing: normal;
$button-min-height: 2.75rem;

// Select

$select-background: #f3f3f3;
$select-font-weight: 500;

// Global

$outline-offset: 0.25rem;
$outline-width: 2px;
