:root {
  --background-form-disabled: #ccc;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: auto;
  --outline-color-focused: #000;
  --padding: 0.5rem;
  --select-danger: #a6443f;
  --spacing-xs: 0.25rem;
  --text-color: #000;
  --text-opacity-disabled: 0.7;
}
