<div class="field-select">
  <label class="field-select__label" [for]="id" [ngClass]="{'field-select__label--disabled': disabled}">
    {{label}}
    <span class="field-select__label__required" *ngIf="required">(obrigatório)</span>
  </label>

  <select class="field-select__select" [id]="id" [disabled]="disabled" (change)="onSelectChange($event)"
    [(ngModel)]="itemSelected">
    <option [value]="null" hidden>{{ placeholder }}</option>
    <option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </option>
  </select>

  <div class="field-select__help" *ngIf="helpText">
    <span *ngIf="helpText" class="field-select__help__text"
      [ngClass]="{'field-select__help__text--disabled': disabled}">
      {{ helpText }}
    </span>
  </div>

  <div class="field-select__error" *ngIf="errorText">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
      <path
        d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM12 20c-4.411 0-8-3.589-8-8s3.567-8 7.953-8C16.391 4 20 7.589 20 12s-3.589 8-8 8z">
      </path>
      <path d="M11 7h2v7h-2zm0 8h2v2h-2z"></path>
    </svg>

    <span class="field-select__error__text" [ngClass]="{'field-select__error__text--disabled': disabled}">
      {{ errorText }}
    </span>
  </div>
</div>